/* Container styling */
.edit-user-details-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.edit-user-details-container {
    width: 60%;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 8px rgba(9, 131, 152, 0.1);
    border: 2px solid rgba(9, 131, 152, 0.1);
    border-radius: 8px;
    flex-grow: 1;
  }
@media screen and (max-width:600px) {
  .edit-user-details-container{
    width: 90%;
  }
}
  
  /* Form styling */
  .edit-user-details-form {
    display: flex;
    flex-direction: column;
  }
  
  /* Label styling */
  .edit-user-details-label {
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  /* Input styling */
  .edit-user-details-input {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 98%;
  }
  
  /* File input styling */
  .edit-user-details-input[type="file"] {
    margin-bottom: 20px;
  }
  
  /* Button styling */
  .edit-user-details-button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .edit-user-details-button:hover {
    background-color: #45a049;
  }
  .notification {
    position: fixed;
    top: 100px;
    right: 20px;
    background-color: #4caf50;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: fadeInOut 1s ease 0s forwards;
  }
  
  .notification button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }
  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }