:root {
    --font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.not-found-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.not-found-img {
    width: 500px;
    height: 400px;
}

.not-found-text {
    font-family: var(--font);
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #1E293B;
}

.not-found-caption {
    font-family: var(--font);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #475569;
}

.not-found-home-page-btn {
    border: none;
    height: 38px;
    padding-left:25px ;
    padding-right:25px ;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    font-family: var(--font);
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    color:black;
    background-color:#FFAE42;
    display: flex;
    align-items: center;
    justify-content: center;
}

.not-found-home-page-btn:hover {
    opacity: .8;
}

@media (max-width: 500px) {
    .not-found-img {
        width: 230px;
        height: 260px;
    }
    
    .not-found-text {
        font-size: 28px;
        line-height: 30px;
    }
    
    .not-found-caption {
        font-size: 14px;
        line-height: 20px;
    }
}