/* UserJob.css */

.user-job-card {
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    padding-left: 18px;
    padding-right: 18px;
    margin: 10px;
    width: 300px;
    background-color: #fff;
    width: 90%;
}
@media screen and (max-width:600px) {
    .user-job-card{
        width: 100%;
    }
}
.company-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.company-image-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.company-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.company-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
}

.company-name {
    color: #4caf50;
    margin-bottom: 0px;
    margin-top: 0px;
}
.position{
    margin-bottom: 0px;
}
.job-type{
    margin-bottom: 0px;
}
.about-job{
    font-family: Arial, Helvetica, sans-serif;
}
.about-job p h3{
    margin-top: 0px;
    margin-bottom: 0px;
}
.ctc{
    display: flex;
    align-items: center;
}
.ctc p{
    margin-left: 5px;
    margin-top: 7px;
    margin-bottom:7px;
}
.ctc h3{
    margin-top: 7px;
    margin-bottom:7px;
}

.dates{
    display: flex;
    justify-content: space-between;
}
.posted-date,
.last-date {
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: rgb(48, 46, 46);
    margin-top: 0px;
}

.apply-job-button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.apply-job-button:hover {
    background-color: #45a049;
}
.applied-button{
    cursor: pointer;
    border: 2px solid #45a049;
    background-color: transparent;
    color: black;
    font-size: 14px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 5px;
}
.horizontal-line{
    margin-top: 0px;
    margin-bottom: 5px;
}
