/* AppliedJobCard.css */
.applied-job-card {
    width: 97%;
    border: 2px solid #ccc;
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}
  
.company-details-applied {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}
  
.company-logo-applied {
    width: 80px; /* Adjust the size according to your design */
    height: 80px; /* Adjust the size according to your design */
}
  
.details-applied {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 10px;
}

.company-name-applied{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.job-position-applied{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 0px;
}
.job-type-applied{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 0px;
    font-weight: 600;
}

.status-bar {
    font-size: 14px;
    font-family: "Lucida Console", "Courier New", monospace;
    padding: 8px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;
    width: 15%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.yellowBackground {
    background-color: rgb(247, 247, 101);
}
  
.blackText {
    color: #000; /* Black Text */
}

.redBackground {
    background-color: red;
}

.whiteText {
    color: #fff; /* White Text */
}

.orangeBackground {
    background-color: orange;
}

.greenBackground {
    background-color: green;
}

.greyBackground {
    background-color: grey;
}
.date-section-applied {
    display: flex;
    flex-direction: column;
}
.dates-applied{
    display: flex;
    justify-content: space-between;
}
.date-applied{
    margin-top: 3px;
    margin-bottom: 2px;
}
  
.withdraw-button {
    background-color: #ff6961; /* Adjust the color according to your design */
    color: #fff;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 16px;
    align-self: flex-start;
}
  