.my-job-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}
@media screen and (max-width:600px) {
  .my-job-card{
    padding: 10px;
  }
}

.my-company-details {
  display: flex;
  align-items: center;
}

.my-company-image {
  width: 90px;
  height: 70px;
  border-radius: 50%;
  margin-right: 16px;
}

.my-company-info {
  flex-grow: 1;
  margin-left: 10px;
}

.my-company-name {
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 4px;
}

.my-position {
  font-size: 16px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  color: #555;
  margin-bottom: 4px;
}

.my-job-type {
  font-size: 16px;
  color: #555;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

.my-job-description {
  margin-bottom: 0px;
  margin-top: 0px;
}

.my-about-job {
  font-size: 16px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

.my-about-job-heading {
  font-size: 20px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

.my-dates {
  display: flex;
  justify-content: space-between;
}

.my-posted-on,
.my-last-date {
  font-size: 16px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #777;
}

.my-action-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
}

.my-edit-button,
.my-delete-button {
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  background-color: #4caf49;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.my-applications-button {
  background-color: #3498db;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.my-applications-button:hover {
  background-color: #2980b9;
}
