.recruiter-home-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
  

.recruiter-home-page-container {
    margin-top: 10px;
    width: 80%;
    overflow-y:visible;
    min-height: 100vh;
    padding: 20px;
    border-radius: 8px;
  }
  
@media screen and (max-width:600px) {
    .recruiter-home-page-container{
        margin-top: 80px;
    }
}
  .green-heading {
    color: #4caf50;
    margin-bottom: 10px;
  }
  
  .recruiter-home-page-container p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
  }
  
  .recruiter-home-page-container h2 {
    color: #4caf50;
    margin-bottom: 10px;
  }
  
  .recruiter-home-page-container ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 15px;
  }
  
  .recruiter-home-page-container li {
    font-size: 16px;
    line-height: 1.5;
  }
  