.all-jobs-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.all-jobs-page-jobs-container{
    display: flex;
    flex-direction: row;
    width: 80%;
    min-height:100vh;
    flex-grow: 1;
    margin-top: 20px;
}
@media screen and (max-width:600px) {
    .all-jobs-page-jobs-container{
        flex-direction: column;
        width: 90%;
    }
}


.job-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    width: 70%;
}
@media screen and (max-width:600px) {
    .job-container{
        width: 100%;
    }
}

.loading-container{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.no-jobs-found-view{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

@media screen and (max-width:600px) {
    .no-jobs-found-image{
        width: 90%;
    }
    .no-jobs-found-view{
        flex-grow: 0;
    }
}